.landing_page { /* Normalization */ /* Universal inheritance */ /* Opinionated defaults */ }

.landing_page img { border: 0; }

.landing_page :root { -ms-overflow-style: -ms-autohiding-scrollbar; overflow-y: scroll; text-size-adjust: 100%; }

.landing_page audio:not([controls]) { display: none; }

.landing_page details { display: block; }

.landing_page input[type="number"] { width: auto; }

.landing_page input[type="search"] { -webkit-appearance: textfield; }

.landing_page input[type="search"]::-webkit-search-cancel-button, .landing_page input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

.landing_page main { display: block; }

.landing_page summary { display: block; }

.landing_page pre { overflow: auto; }

.landing_page progress { display: inline-block; }

.landing_page small { font-size: 75%; }

.landing_page template { display: none; }

.landing_page textarea { overflow: auto; }

.landing_page [hidden] { display: none; }

.landing_page [unselectable] { user-select: none; }

.landing_page *, .landing_page *::before, .landing_page *::after { box-sizing: inherit; text-decoration: inherit; }

.landing_page * { color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; line-height: inherit; }

.landing_page *, .landing_page *::before, .landing_page *::after { border-style: solid; border-width: 0; }

.landing_page * { margin: 0; padding: 0; }

.landing_page :root { box-sizing: border-box; cursor: default; font-family: sans-serif; line-height: 1.5em; text-rendering: optimizeLegibility; vertical-align: top; }

.landing_page button, .landing_page input, .landing_page select, .landing_page textarea { background: transparent; }

.landing_page code, .landing_page kbd, .landing_page pre, .landing_page samp { font-family: monospace, monospace; }

.landing_page input { min-height: 1.5em; }

.landing_page nav ol, .landing_page nav ul { list-style: none; }

.landing_page select { -moz-appearance: none; -webkit-appearance: none; }

.landing_page select::-ms-expand { display: none; }

.landing_page select::-ms-value { color: currentColor; }

.landing_page table { border-collapse: collapse; border-spacing: 0; }

.landing_page textarea { resize: vertical; }

.landing_page ::selection { background-color: #1F365B; color: #fff; text-shadow: none; }

@media screen { .landing_page [hidden~="screen"] { display: inherit; }
  .landing_page [hidden~="screen"]:not(:active):not(:focus):not(:target) { clip: rect(0 0 0 0) !important; position: absolute !important; } }

@font-face { font-family: 'Interstate-BlackCond'; src: url("../fonts/Interstate-BlackCond.ttf") format("truetype"), url("../fonts/Interstate-BlackCond.eot?#iefix") format("eot"), url("../fonts/Interstate-BlackCond.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Interstate-Bold'; src: url("../fonts/Interstate-Bold.ttf") format("truetype"), url("../fonts/Interstate-Bold.eot?#iefix") format("eot"), url("../fonts/Interstate-Bold.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Interstate-BoldCond'; src: url("../fonts/Interstate-BoldCond.ttf") format("truetype"), url("../fonts/Interstate-BoldCond.eot?#iefix") format("eot"), url("../fonts/Interstate-BoldCond.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Interstate-Regular'; src: url("../fonts/Interstate-Regular.ttf") format("truetype"), url("../fonts/Interstate-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

html, body { height: 80%; margin: 0; padding: 0; }

.lp-container { font-size: 12px; font-size: 0.75rem; width: 100%; margin: 20px auto; line-height: 1.5; font-family: "Open Sans", sans-serif; font-weight: 400; color: #231f20; text-align: center; }

.lp-container h1, .lp-container h2, .lp-container h4 { color: #231f20; }

.lp-container header { position: relative; background: url("../images/bg_header.jpg") no-repeat; background-size: contain; }

.lp-container header article { padding-top: 30%; }

.lp-container img.header-img { width: 100%; }

.lp-container hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

.header-title { top: 280px; background-color: #fff; width: 90%; margin-left: auto; margin-right: auto; padding-top: 20px; }

.header-title .header-title-lg { font-size: 80px; font-size: 5rem; font-family: "Interstate-BlackCond", sans-serif; margin: 10px; line-height: 1; }

@media only screen and (max-width: 40em) { .header-title .header-title-lg { font-size: 50px; font-size: 3.125rem; } }

@media only screen and (max-width: 30em) { .header-title .header-title-lg { font-size: 30px; font-size: 1.875rem; } }

.header-title .header-title-sm { font-size: 30px; font-size: 1.875rem; font-family: "Interstate-BoldCond", sans-serif; text-transform: uppercase; margin: 10px 10px; }

@media only screen and (max-width: 40em) { .header-title .header-title-sm { font-size: 25px; font-size: 1.5625rem; } }

@media only screen and (max-width: 30em) { .header-title .header-title-sm { font-size: 20px; font-size: 1.25rem; } }

.header-title .header-tagline { margin: 20px auto; line-height: 1.5; max-width: 100%; }

.header-title .header-tagline a { color: #231f20; }

.header-title .header-tagline a:link, .header-title .header-tagline a:visited, .header-title .header-tagline a:hover, .header-title .header-tagline a:active { color: #231f20; text-decoration: underline; }

.flex-grid { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; }

@media only screen and (max-width: 40em) { .flex-grid { flex-wrap: wrap; }
  .flex-grid.flex-disable-md { display: block; } }

.flex-grid .flex-item { box-sizing: border-box; flex: 1; text-align: center; }

.flex-grid .flex-item img { width: 100%; }

.flex-grid .flex-item.flext-item-center { align-self: center; }

@media only screen and (max-width: 40em) { .flex-grid .flex-item { flex: 1 1 100%; } }

.flex-grid-col { display: flex; justify-content: space-between; flex-direction: column; }

.flex-grid-col .flex-item-col { flex: 1; }

.item-content { position: relative; }

.item-content img { width: 100%; }

@media only screen and (max-width: 60em) { .item-content img { height: 100%; } }

@media only screen and (max-width: 40em) { .item-content img { height: 100%; } }

.item-content a { color: #231f20 !important; display: inline-block; }

.item-content a:link, .item-content a:visited, .item-content a:hover, .item-content a:active { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 14px; font-size: 0.875rem; text-decoration: underline; }

.item-content a.cta { border: solid 2px #231f20; padding: 5px 15px; text-decoration: none; color: #231f20; }

@media only screen and (max-width: 1110px) { .item-content a.cta.sm-cta { padding: 0 5px; font-size: 10px; font-size: 0.625rem; } }

@media only screen and (max-width: 799px) { .item-content a.cta.sm-cta { padding: 5px 15px; font-size: 14px; font-size: 0.875rem; } }

.item-content p { max-width: 100%; }

.item-content p.item-content-details { padding-left: 5px; padding-right: 5px; width: 80%; margin: auto; }

@media only screen and (max-width: 799px) { .item-content p.item-content-details { height: 80px; line-height: 1.2; } }

.item-content figure { margin: 10px; }

.item-content figure img.thrink { width: 80%; display: initial !important; }

@media only screen and (max-width: 799px) { .item-content figure img.thrink { width: 40%; } }

.item-content figure img.instagram { width: 80%; display: initial !important; }

.item-content h2.title { min-height: 70px; }

@media only screen and (max-width: 60em) { .item-content h2.title { font-size: 15px; } }

@media only screen and (max-width: 40em) { .item-content h2.title { font-size: 15px; } }

.item-content .play { position: absolute; top: 39%; left: 44%; width: 11% !important; height: 23% !important; opacity: .6; transition: 300ms ease-in-out; }

.title-md { font-size: 40px; font-size: 2.5rem; font-family: "Interstate-BlackCond", sans-serif; margin: 10px 10px; }

@media only screen and (max-width: 40em) { .title-md { font-size: 40px; font-size: 2.5rem; } }

@media only screen and (max-width: 30em) { .title-md { font-size: 30px; font-size: 1.875rem; } }

.title-lg { font-size: 60px; font-size: 3.75rem; font-family: "Interstate-BlackCond", sans-serif; margin: 10px 10px; }

@media only screen and (max-width: 40em) { .title-lg { font-size: 40px; font-size: 2.5rem; } }

@media only screen and (max-width: 30em) { .title-lg { font-size: 30px; font-size: 1.875rem; } }

.title-sm { width: 80%; font-size: 20px; font-size: 1.25rem; font-family: "Interstate-BoldCond", sans-serif; text-transform: uppercase; color: #231f20; margin: auto; }

@media only screen and (max-width: 40em) { .title-sm { font-size: 16px; font-size: 1rem; width: 100%; } }

@media only screen and (max-width: 30em) { .title-sm { font-size: 15px; font-size: 0.9375rem; width: 80%; } }

.row p.tagline { text-align: center; max-width: 100%; }

.col-content { margin: 5px; }

@media only screen and (max-width: 40em) { .col-content { margin: 0; } }

.col-content img { width: 100%; }

.col-content h3 { color: #231f20; margin-left: 10px; margin-right: 10px; font-family: "Interstate-BoldCond", sans-serif; text-transform: uppercase; margin: 20px; font-size: 20px; font-size: 1.25rem; }

@media only screen and (max-width: 800px) { .col-content h3 { font-size: 15px; font-size: 0.9375rem; } }

.col-content a { color: #231f20; display: inline-block; margin-bottom: 20px; }

.col-content a:link, .col-content a:visited, .col-content a:hover, .col-content a:active { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 14px; font-size: 0.875rem; text-decoration: none !important; }

.col-content a.cta { border: solid 2px #231f20; padding: 5px 15px; }

.col-content p.col-content-details { height: 100px; }

@media only screen and (max-width: 60em) { .col-content p.col-content-details { height: 150px; } }

@media only screen and (max-width: 40em) { .col-content p.col-content-details { height: 70px; } }

.grid-container { margin-left: auto; margin-right: auto; position: relative; }

.row { max-width: 100%; margin: auto; height: 100%; position: relative; }

.row img { width: 100%; }

.lp-story { padding: 5% 10%; line-height: 1.5; }

@media only screen and (max-width: 60em) { .lp-story { padding: 5%; } }

.lp-story h4 { color: #231f20; font-family: "Interstate-BoldCond", sans-serif; font-size: 15px; font-size: 0.9375rem; margin: 3% auto; text-transform: none; }

.lp-story p { margin: 3% auto; padding-top: 2%; }

.lp-story p.watch { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 14px; font-size: 0.875rem; }

.lp-story p a { color: #231f20; }

.lp-story p a:link, .lp-story p a:visited, .lp-story p a:hover, .lp-story p a:active { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 14px; font-size: 0.875rem; color: #231f20 !important; text-decoration: underline !important; }

.caption p { min-height: 85px; max-width: 100%; }

@media only screen and (max-width: 900px) { .caption p { margin: 0; } }

.caption h2 { margin: 0; }

.slick-dots { margin: 0 !important; padding: 0 !important; }

.cta:hover { cursor: pointer; }

.cta:hover .play { opacity: 1; }

.video-wrapper { overflow: hidden; padding-bottom: 56.25%; position: relative; height: 0; }

.video-wrapper iframe { left: 0; top: 0; height: 100%; width: 100%; position: absolute; }
